<?xml version="1.0" encoding="utf-8"?>
<launch>
    <arg name="pkg_name" value="ros_example"/>
    <arg name="node_name" default="node_exercise"/>
    <arg name="veh" default="laptop"/>
    <arg name="local" default="false"/>

    <group ns="$(arg veh)">
	<!-- Please fill in XXX-->
        <node unless="$(arg local)"  name="$(arg "XXX")" pkg="$(arg "XXX")"
              type="$(arg "XXX").py" output="screen">
        </node>
    </group>
</launch>

